<mat-progress-spinner [hidden]="mapLoaded" class="loader" [color]="'primary'" [mode]="'indeterminate'">
</mat-progress-spinner>

<div #mapViewNode class="mapViewNode" [hidden]="!mapLoaded">
    <mat-progress-spinner class="loader" [hidden]="!busy" [color]="'primary'" [mode]="'indeterminate'">
    </mat-progress-spinner>

    <div class="HelpText" *ngIf="sketchVM.state === 'active'">
        Double click on the map to finish selection.
    </div>

    <!-- <button style="position: absolute; z-index: 100; bottom: 0; right: 0;" (click)="printMap()">Print</button> -->
</div>