<div *ngFor="let item of dataTable; let masterIndex = index; trackBy: trackByIndex" class="layerlistComponent">
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-checkbox color="primary" [(ngModel)]="dataTable[masterIndex].defaultVisibility" value="{{item.id}}"
        (ngModelChange)="parentCheck(item)" (keydown)="$event.stopPropagation()" (click)="$event.stopPropagation()">
        {{item.name}}

      </mat-checkbox>

      <!-- <button mat-icon-button aria-label="icon" class="opacityBtn">
                <mat-icon>favorite</mat-icon>
              </button>
              <div>

            </div> -->
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <div *ngFor="let itemChild of item.subLayers">
        <mat-checkbox color="primary" [(ngModel)]="itemChild.defaultVisibility" value="{{itemChild.id}}"
          name="list_name_child" (ngModelChange)="childCheck(item,item.subLayers)">
          {{itemChild.name}}
        </mat-checkbox> <br>
      </div>
      <br>
      <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
    </div>

  </mat-expansion-panel>
</div>
