<div class="layerlistComponent" *ngFor="let key of objectKeys(layerInfo)">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-checkbox color="primary" [(ngModel)]="layerInfo[key]['visible']" (ngModelChange)="parentCheck(key, $event)"
        (keydown)="$event.stopPropagation()" (click)="$event.stopPropagation()">
        <b> {{layerInfo[key]['name']}}</b>
      </mat-checkbox>
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <div *ngIf="layerInfo[key].subLayers.length > 1">
        <div *ngIf="!layerInfo[key].radio">
          <div *ngFor="let sublayer of layerInfo[key].subLayers">

            <mat-checkbox color="primary" [(ngModel)]="sublayer.visible" value="{{sublayer.id}}" name="list_name_child"
              (ngModelChange)="childCheck(key, layerInfo[key].subLayers)">
              {{sublayer.name}}
            </mat-checkbox>
            <br>
          </div>
        </div>
        <div *ngIf="layerInfo[key].radio">
          <div style="text-align: center;margin-right: 20px;"><b>($/ac/yr)</b></div>
          <mat-radio-group [(ngModel)]="layerInfo[key].visibleSubLayer"
            (ngModelChange)="changeRadioLayers(key, $event)">
            <mat-radio-button *ngFor="let sublayer of layerInfo[key].subLayers" class="layerRadioBtn"
              [value]="sublayer.id">
              {{sublayer.name}}
              <br>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div style="text-align: center; margin-left: -20px; margin-top: 15px;">
        <b> Layer transparency: {{layerInfo[key].opacity}}%</b>
      </div>
      <mat-slider min="0" max="100" step="5" value="layerInfo[key].opacity" class="opacitySlider"
        (input)="changeOpacity(key, $event)"></mat-slider>
    </div>
  </mat-expansion-panel>
</div>
