<!-- <router-outlet></router-outlet> -->

<div fxLayout="column" fxLayoutAlign=" stretch" class="parent">
    <mat-toolbar color="primary" class="header">
        <mat-toolbar-row [class.mat-elevation-z8]="true">
            <a href="https://tfsweb.tamu.edu" target="_blank" class="logo">
                <img src="assets/TFS_Maroon.png" class="largeLogo" />
            </a>
            <a href="https://tfsweb.tamu.edu" target="_blank" class="logo">
            <img src="assets/TFS_Star_Maroon.png" class="smallLogo" />
        </a>
            <span>Forest Ecosystem Values</span>
            <span class="spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <a mat-button (click)="openDialog('About')"> About </a>
                <a href="https://texasforestinfo.tamu.edu/Contact" target="_blank" mat-button> Contact </a>
                <a href="#" mat-button> Help </a>
                <a  mat-button  (click)="openDialog('Disclaimer')"> Disclaimer </a>
            </div>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="auto">
        <mat-sidenav #sidenav position="end">
            <mat-nav-list>
                <a  mat-list-item  (click)="openDialog('About')"> About </a>
                <a href="https://texasforestinfo.tamu.edu/Contact" target="_blank" mat-list-item> Contact </a>
                <a href="#" mat-list-item> Help </a>
                <a  mat-list-item (click)="openDialog('Disclaimer')"> Disclaimer </a>
                <a (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon> Close
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlex="auto">
            <mat-sidenav-container fxFlex="auto">
                <mat-sidenav [opened]="sidenavOpened" position="start" mode="side" #sidebar class="sidebar primaryBg">
                    <app-sidebar class="primaryBg"></app-sidebar>
                    <button mat-raised-button color="primary" (click)="sidenavOpened = !sidenavOpened"
                        class="sidebarCloseBtn">
                        <mat-icon>arrow_back_ios</mat-icon> Hide
                    </button>
                </mat-sidenav>
                <mat-sidenav-content>
                    <div fxFlex="auto" class="parentMap">
                        <app-esrimap></app-esrimap>
                        <button mat-raised-button color="primary" *ngIf="!sidenavOpened"
                            (click)="sidenavOpened = !sidenavOpened" class="siderbarOpenBtn">
                            <mat-icon>arrow_forward_ios</mat-icon>Show
                        </button>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="reportDialogContainer" cdkDragBoundary=".parent" cdkDrag>
        <app-summarytable style="width: 100%; height: 100%">
        </app-summarytable>
    </div>
</div>

<div class="parent progressContainer" *ngIf="appBusy">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>