@import "./styles/colors";
@import "./variables";

.sidebar {
  width: 300px;
  overflow: hidden;
}
.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer {
  background: mat-color($fev-primary);
}

.progressContainer {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.header {
  box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.25);
  z-index: 8;
}
.socialMedia {
  height: 70%;
  .logoBtn {
    height: 23px;
  }
}

.reportDialogContainer {
  // border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  // cursor: move;
  // display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  top: 115px;
  right: 14px;
  background: #fff;
  border-radius: 4px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tableHeaderDrag {
  width: 100%;
  cursor: move;
  height: 40px;
  line-height: 40px;
  width: calc(100%-20px);
  position: absolute;

  background: #976632 !important;
  color: white !important;
  min-width: 225px;
  b {
    padding-left: 15px;
  }
}

.reportDialogContainer:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.smallLogo {
  display: none;
  height: 100%;
}
.largeLogo {
  height: 100%;
}
@media screen and (max-width: 375px) {
  .reportDialogContainer {
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 375px) {
  .reportDialogContainer {
    max-width: 100% !important;
    width: 100% !important;
  }
}
@media screen and (max-width: $layout-breakpoint-sm) {
  .reportDialogContainer {
    max-width: 600px !important;
    width: 100% !important;
  }
  .smallLogo {
    display: block;
    height: 100%;
  }
  .largeLogo {
    display: none;
    height: 100%;
  }
}

.logo {
  height: 70%;
  padding-right: 10px;
}

.parent {
  height: 100vh;
}

.sidebarCloseBtn {
  position: absolute;
  right: -10px;
  top: 0;
}

.siderbarOpenBtn {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transition: visibility 0.5s linear, opacity 0.3s linear;
}

.siderbarOpenBtn.hidden {
  visibility: hidden;
  opacity: 0;
  transition: unset;
}

.siderbarOpenBtn.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s linear;
}
