<br>
<mat-accordion multi="true" class="primaryBg">
    <mat-expansion-panel class="mat-elevation-z8" class="mat-elevation-z8">
        <mat-expansion-panel-header>
            Getting Started
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z8">
        <mat-expansion-panel-header>
            View Map Themes
        </mat-expansion-panel-header>
        <div class="accordionContent">I'm visible because I am open</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z8">
        <mat-expansion-panel-header>
            Ecosystem Services
        </mat-expansion-panel-header>
        <div class="accordionContent">I'm visible because I am open</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z8">
        <mat-expansion-panel-header>
            Standard Reports
        </mat-expansion-panel-header>
        <div class="accordionContent">I'm visible because I am open</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z8">
        <mat-expansion-panel-header class="mat-elevation-z8">
            Print Map
        </mat-expansion-panel-header>
        <div class="accordionContent">I'm visible because I am open</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z8">
        <mat-expansion-panel-header>
            Legend
        </mat-expansion-panel-header>
        <div class="accordionContent">I'm visible because I am open</div>
    </mat-expansion-panel>
</mat-accordion>