<br><br>
<mat-accordion multi="true" class="primaryBg" #accordion="matAccordion">
  <!-- <mat-expansion-panel class="mat-elevation-z8">
    <mat-expansion-panel-header class="accordion-header-fill">
      Getting Started
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <button mat-raised-button color="primary" (click)="startTour()">
        <mat-icon>play_arrow</mat-icon>
        Start Tour
      </button>
    </div>
  </mat-expansion-panel> -->
  <mat-expansion-panel class="mat-elevation-z8" tourAnchor="2">
    <mat-expansion-panel-header class="accordion-header-fill">
      View Map Themes
    </mat-expansion-panel-header>
    <div class="layersList">
      <app-layerlist></app-layerlist>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-elevation-z8" tourAnchor="3" [expanded]="true">
    <mat-expansion-panel-header class="accordion-header-fill">
      Ecosystem Services
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <div class="Step1" tourAnchor="selectionTools">
        
        <mat-radio-group class="controls-radio-group" aria-label="Define area of interest" [(ngModel)]="activeControl"
          (ngModelChange)="onControlChange($event)">
          <fieldset style="margin: unset;padding: unset;border: unset;">
            <legend><strong>Step 1: Define Area of Interest</strong><br></legend>
          <mat-radio-button value="dropdown">Select County or Urban Area</mat-radio-button>
          <div [hidden]="!(activeControl === 'dropdown')" class="dropdownChild">
            <app-countylist></app-countylist>
          </div>

          <mat-radio-button value="multipoint">Select County on the map</mat-radio-button>
          <div *ngIf="activeControl === 'multipoint'" class="dropdownChild startClearnBtnDiv">
            <button mat-raised-button color="primary"
              [class.buttonSelected]="spatialSelectionState['multipoint'] && !spatialSelectionState.multipointDisabled"
              [disabled]="spatialSelectionState.multipointDisabled"
              (click)="startSpatialSelection('multipoint', 'start')">
              <mat-icon>create</mat-icon>
              Select
            </button>
            <button mat-raised-button color="primary" [disabled]="!(spatialSelectionState.multipointDisabled)"
              (click)="startSpatialSelection('multipoint', 'clear')">
              <mat-icon aria-label="delete geometries">delete</mat-icon>
              Clear
            </button>
          </div>

          <mat-radio-button value="polygon">Draw polygon on the map</mat-radio-button>

          <div *ngIf="activeControl === 'polygon'" class="dropdownChild startClearnBtnDiv">
            <button mat-raised-button color="primary" #p1
              [class.buttonSelected]="spatialSelectionState['polygon'] && !spatialSelectionState.polygonDisabled"
              [disabled]="spatialSelectionState.polygonDisabled" (click)="startSpatialSelection('polygon', 'start')">
              <mat-icon aria-label="create geometry">create</mat-icon>
              Draw
            </button>
            <button mat-raised-button color="primary" [disabled]="!(spatialSelectionState.polygonDisabled)"
              (click)="startSpatialSelection('polygon', 'clear')">
              <mat-icon aria-label="delete geometry">delete</mat-icon>
              Clear
            </button>
          </div>

          <mat-radio-button value="shapefile"> Load zipped shapefile    </mat-radio-button>
          <div [hidden]="!(activeControl === 'shapefile')" class="dropdownChild startClearnBtnDiv">

            <input type="file" style="display: none" #fileInput accept=".zip" (change)="onChangeFileInput()" aria-label="upload a shapefile"/>
            <button mat-raised-button color="primary" [disabled]="!shapefileControlState.start"
              (click)="onClickFileInputButton()">
              <mat-icon aria-label="upload shapefile">cloud_upload</mat-icon>
              Select
            </button>
            <button mat-raised-button color="primary"
              [disabled]="activeControl === 'shapefile' && !shapefileControlState.cancel" (click)="removeShapeFile()">
              <mat-icon aria-label="delete shapefile">delete</mat-icon>
              Clear
            </button>

          </div>
          <div [hidden]="!(activeControl === 'shapefile')" class="dropdownChild">
            <span *ngIf="fileUploadError !== ''" style="color: 'red'; margin: 5px">{{fileUploadError}}<br></span>
            <br> Don't have a shapefile? You can use <a href="https://texasforestinfo.tamu.edu/mapmyproperty/"
              rel="noreferrer" target="_blank">MapMyProperty</a> to
            create one.
          </div>
        </fieldset>
        </mat-radio-group>
      </div>
      <div class="step2" tourAnchor="generateStatisticsBtn">
        <strong>Step 2: </strong><br>
        <button mat-raised-button color="primary" [disabled]="!(mapGraphics.length > 0) || !reportEnabled"
          (click)="generateStatistics()">
          <mat-icon aria-label="generate stats">format_list_bulleted</mat-icon>
          Generate Summary Statistics
        </button>
        <br />
      </div>
      <div class="step3" tourAnchor="generateReportBtn">
        <br />
        <strong>Step 3: </strong><br>
        <button mat-raised-button color="primary" [disabled]="!printBtnEnabled || !(mapGraphics.length > 0)"
          (click)="generateReport()">
          <mat-icon aria-label="print report">print</mat-icon>
          Generate Report
        </button> <br>

        <div *ngIf="!(!printBtnEnabled || !(mapGraphics.length > 0)) ">
          <br>
          <a [href]="pdfLink" *ngIf="pdfLink !== ''" target="_blank" style="margin-left: 10px;">Click to view the
            report</a>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-elevation-z8" tourAnchor="standardReport">
    <mat-expansion-panel-header class="accordion-header-fill">
      Standard Reports
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <div class="standardReport">
        <mat-icon aria-label="pdf report">picture_as_pdf</mat-icon>
        <a href="./assets/static/Central-West-Texas-Summary-Report.pdf" target="_blank">Central - West Texas
          Summary Report</a>
      </div>
      <div class="standardReport">
        <mat-icon aria-label="pdf2">picture_as_pdf</mat-icon>
        <a href="./assets/static/East-Texas-Summary-Report.pdf" target="_blank">East Texas Summary Report</a>
      </div>
      <div class="standardReport">
        <mat-icon aria-label="pdf3">picture_as_pdf</mat-icon>
        <a href="./assets/static/Texas-Summary-Report.pdf" target="_blank">Texas Summary Report</a>
      </div>
      <div class="standardReport">
        <mat-icon aria-label="pdf4">picture_as_pdf</mat-icon>
        <a href="./assets/static/Texas-Forest-Ecosystem-Services-Report.pdf" target="_blank">Forest Ecosystem
          Services Report</a>
      </div>

    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-elevation-z8" tourAnchor="printmap">
    <mat-expansion-panel-header class="accordion-header-fill">
      Print Map
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <app-printmap (printingCompleted)="printMapCompleted($event)"></app-printmap>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-elevation-z8" tourAnchor="mapLegend">
    <mat-expansion-panel-header class="accordion-header-fill">
      Legend
    </mat-expansion-panel-header>
    <div class="accordionContent">
      <app-legend></app-legend>
    </div>
  </mat-expansion-panel>
</mat-accordion>
