@import "./app/styles/theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.primaryBg {
  background: mat-color($fev-primary);
}

[hidden] {
  display: none !important;
}

.mat-tab-label {
  color: black !important;
  font-weight: bold !important;
  min-width: 80px !important;
  padding: 0 5px !important;
  background: mat-color($fev-primary, 400);
  margin-right: 1px;
}

.mat-tab-labels {
  background: mat-color($fev-primary, 400);
}
.mat-option.mat-active {
  background: rgba(0, 0, 0, 0) !important;
  color: black !important;
}

.popupTable {
  width: 100%;
}

.mat-header-cell {
  background: mat-color($fev-primary);
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  .popupTable {
    width: 100%;
  }
  .reportContainer {
    width: 100%;
  }
  .mat-toolbar-row {
    padding: 0 !important;
  }
}
.mat-expansion-panel-body {
  padding: 0 4px 6px !important;
}

.material-icons {
  font-size: 21px !important;
}

.accordion-header-fill > .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 1);
}
.mat-raised-button {
  height: 35px !important;
  line-height: 35px !important;
}

.esri-ui-bottom-right {
  flex-flow: column-reverse !important;
}

.mat-dialog-container {
  display: block;
  padding: 0px !important;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  max-width: 700px;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.dialogContent {
  padding: 20px;
}

.mat-menu-panel {
  max-width: 470px !important;
  overflow: hidden;
}

@media (max-width: 768px) {
  .mat-menu-panel {
    max-width: 300px !important;
  }
}
